/* imports */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/* /* site varibales */ */
/* :root { */
/*     --background-main: #00DF81; /* Rich Black */ */
/*     --foreground-main: #F1F7F6; /* Anti-Flash White */ */
/*     --secondary-color: #03624C; /* Bangladesh Green */ */
/*     --site-font: "Italiana", sans-serif; */
/* } */

.hanken-grotesk-<uniquifier> {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* body { */
/*     font-family: "Hanken Grotesk", sans-serif; */
/*     font-weight: 400; */
/*     font-style: normal; */
/* } */

header {
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 800;
    font-style: normal;
}

main {
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 100;
    font-style: normal;
}
